<mat-toolbar color="primary">
  <a routerLink="/" mat-icon-button class="example-icon logo-navbar ml-20"
    aria-label="Example icon-button with menu icon">
    <span>अनुशासनम्</span>
  </a>

  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
  <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="navbar-button mr-20"
    aria-label="Example icon-button with share icon">
    <mat-icon>how_to_register</mat-icon><span class="aligned-with-icon-relative">Register</span>
  </a> 
  <a *ngIf="!isLoggedIn" [routerLink]="'/login'" class="navbar-button mr-20">
    <mat-icon>face</mat-icon><span class="aligned-with-icon-relative">Login</span>
  </a>

  <a *ngIf="isLoggedIn" routerLink="/admin/profile" class="navbar-button mr-30">
    <mat-icon>face</mat-icon><span class="aligned-with-icon-relative">{{getUsername()}}</span>
  </a>

  <a *ngIf="isLoggedIn" (click)="logout()" class="navbar-button mr-30">
    <mat-icon>logout</mat-icon><span class="aligned-with-icon-relative">Logout</span>
  </a>

</mat-toolbar>